.TodoCreateButtonCss {
    height: 64px;
    width: 64px;
    background-color: #61dafa;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-size: 50px;
    font-weight: 700;
    color: #fafafa;
    /* display: flex; */
    /* align-self: flex-end; */

    transform: rotate(0);
    transition: 0.3s ease;
}

.TodoCreateButtonCss:hover {
    transform: rotate(224deg);
}